.input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--shadow-color);
  background-color: var(--basic-white);
  box-shadow: var(--shadow);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--basic-blue);
}

.input-group {
  position: relative;
  width: 20rem;
  height: 60px;

  & small {
    color: var(--profit-negative);
    font-weight: 600;
    position: absolute;
    bottom: 0.5rem;
    width: 20rem;
    left: 2rem;
  }
}
