* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible;
  font-size: 10px;
}

p {
  padding: 0;
  margin: 0;
}
